* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin: 32px;
}

footer {
    flex-shrink: 0;
}


/* ----------------------Navigation area start---------------------------------------------------------*/

nav {
    margin: 32px;
    margin-bottom: 15px;
    height: 30px;
    flex-shrink: 0;
    height: 32px;
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    justify-content: space-between;
    position: relative;
}

.triangles {
    display: flex;
    flex-direction: row;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 26px solid #33323D;
    margin-bottom: 4px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 26px solid #33323D;
    margin-top: 4px;
}

#burger {
    background-image: url("../images/hamburger.svg");
    width: 24px;
    height: 13px;
    margin: auto 0;
}

#burger:hover {
    cursor: pointer;
}

#myLinks {
    display: none;
    height: 186px;
    width: 223px;
    background-color: #33323D;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    right: 0px;
    top: 56px;
}

#myLinks a,
#footerLinks a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding-bottom: 32px;
    font-weight: regular;
}


/* ----------------------Navigation area end---------------------------------------------------------*/


/* ----------------------Footer area start---------------------------------------------------------*/

footer {
    background-color: #33323D;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 354px;
    padding: 0;
}

footer .triangle-up {
    border-bottom-color: #FFF;
}

footer .triangle-down {
    border-top-color: #FFF;
}

#footerLinks {
    display: flex;
    height: 186px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer img {
    width: 24px;
    padding: 0 8px;
}


/* ----------------------Footer area end---------------------------------------------------------*/

.poster {
    width: 100%;
    padding-top: 87%;
    height: 0;
    background-image: url('../images/image-homepage-hero.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 24px;
}

@media only screen and (min-width: 375px) {
    .poster {
        background-image: url('../images/image-homepage-hero2x.jpg');
    }
}

h1 {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 40px;
    letter-spacing: -0.36px;
    line-height: 42px;
    color: #33323D;
}

a {
    text-decoration: none;
}

.aboutme {
    width: 200px;
    height: 48px;
    padding: 17px auto;
    background-color: #203A4C;
    letter-spacing: 2px;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: left-end;
    align-items: center;
}

.aboutme img {
    width: 16px;
    height: 12px;
    padding: 18px;
}

.aboutme p {
    flex-grow: 1;
}

.infophoto {
    margin-top: 96px;
}

.photo {
    width: 100%;
    padding-top: 111%;
    height: 0;
    background-image: url('../images/image-homepage-profile.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 32px;
}

@media only screen and (min-width: 375px) {
    .photo {
        background-image: url('../images/image-homepage-profile2x.jpg');
    }
}

.info p {
    margin-top: 28px;
    line-height: 30px;
    color: #33323D;
}

.info {
    border-top: 1px solid rgb(51, 50, 61, 0.15);
    border-bottom: 1px solid rgb(51, 50, 61, 0.15);
    padding: 32px 0 51px 0;
    margin-bottom: 80px;
}

.goport {
    width: 202px;
    height: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    background-color: white;
    border: 1px solid #33323D;
    margin-top: 24px;
}

.interested {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.interested .goport {
    margin-top: 40px;
}