* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Public Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin: 32px;
}

footer {
    flex-shrink: 0;
}


/* ----------------------Navigation area start---------------------------------------------------------*/

nav {
    margin: 32px;
    height: 30px;
    flex-shrink: 0;
    height: 32px;
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    justify-content: space-between;
    position: relative;
}

.triangles {
    display: flex;
    flex-direction: row;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 26px solid #33323D;
    margin-bottom: 4px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 26px solid #33323D;
    margin-top: 4px;
}

#burger {
    background-image: url("../images/hamburger.svg");
    width: 24px;
    height: 13px;
    margin: auto 0;
}

#burger:hover {
    cursor: pointer;
}

#myLinks {
    display: none;
    height: 186px;
    width: 223px;
    background-color: #33323D;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    right: 0px;
    top: 56px;
}

#myLinks a,
#footerLinks a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding-bottom: 32px;
    font-weight: regular;
}


/* ----------------------Navigation area end---------------------------------------------------------*/


/* ----------------------Footer area start---------------------------------------------------------*/

footer {
    background-color: #33323D;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 354px;
    padding: 0;
}

footer .triangle-up {
    border-bottom-color: #FFF;
}

footer .triangle-down {
    border-top-color: #FFF;
}

#footerLinks {
    display: flex;
    height: 186px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer img {
    width: 24px;
    padding: 0 8px;
}


/* ----------------------Footer area end---------------------------------------------------------*/